.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image:rgba(0,0,0,0.8);
    
}
a:hover{
    color: teal;  
}
a:visited{
    color: teal;
}
a{
    color: teal;
    
}
strong{
    color: teal;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

#about{
    background-image: url('./logo512.png');
    background-position: center;
    background-size:500px;
    background-repeat: no-repeat;

}